<!DOCTYPE html>
<html>
<head>
    <title>{{ tank.nametank }}</title>
    <link rel="stylesheet" href="/static/css/tank.css">
</head>
<body>
    <div class="tank-container">
        <h1>{{ tank.nametank }}</h1>
        <img src="{{ tank.images_url }}" alt="{{ tank.nametank }}">
        
        <div class="tank-info">
            <h2>Характеристики</h2>
            <table>
                <tr><th>Страна:</th><td>{{ tank.country }}</td></tr>
                <tr><th>Уровень:</th><td>{{ tank.level }}</td></tr>
                <tr><th>Класс:</th><td>{{ tank.class }}</td></tr>
            </table>
            
            <h2>Описание</h2>
            <p>{{ tank.description }}</p>
        </div>
        
        <a href="/" class="back-button">На главную</a>
    </div>
</body>
</html>